  @import "../../style/system.scss";


  .button__item{      
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color-text;
    font-weight: 600;
    font-size: 16px;
    overflow: hidden;
    cursor:pointer;
    background: rgba(253, 253, 253, 0.15);
    transition: all 0.5s ease-in-out;
  }
  .button__item > span {
    position: relative;
  }
  .button__item:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: $primary-color;
    transition: all 0.5s ease-in-out;
  }
  
  .button__item:hover::before{
    transform: translateX(0);
     transition: all 0.5s ease-in-out;
  }
  .button__item:hover{
    color:white;
  }