@import "../../style/system.scss";



.body{
    z-index: 1;
    position: relative;
    &__wrapper{
      position: relative;
      top: 10vh;
      bottom: 0;
      height: 90vh;
      &-main{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        &-user{
          flex: 1;
          height:80%;
        }
        &-thum{
          flex: 1;
          height: 80%;
          width: 100%;
          display: table-cell;
          vertical-align: middle;
          img{
            max-width: 100%;
            max-height: 100%;
            display: block;
            margin: auto;
          }
        }
      }
     
      &-ICP{
        position: absolute;
        bottom: 0%;
        width:100%;
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        color: rgb(190, 190, 190);
        letter-spacing: 0.8px;
        @media screen and (max-width:650px ){
          position: relative;
          font-size: 0.7rem;
        }
        &-design{
          &-heart{
            color: #b35465;
          }
          &-blog,&-user{
            font-weight: 600;
          }
          @media screen and (max-width:650px ){
            display: none;
          }
        }
      }
    }
}


