@import "../style/system";

.root{
  /*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/
 ::-webkit-scrollbar
 {
     position: absolute;
     top:80px;
     width:10px;
     height:16px;
     background-color:transparent;
 }
 /*定义滚动条轨道
  内阴影+圆角*/
 ::-webkit-scrollbar-track
 {
     border-radius:10px;
     background-color:transparent;
 }
 /*定义滑块
  内阴影+圆角*/
 ::-webkit-scrollbar-thumb
 {
     -webkit-box-shadow:inset 0 0 6px $primary-color;
     background-color: $primary-color;
     margin-top: 80px;
 }
}

.main_container{
  position: relative;
  top: $topbar-height;
  overflow: hidden;
  overflow-y:hidden;
  height: calc(100vh - (80px + 10 * ((100vw - 320px)/ 1760)));
  width:100%;
}

.canvas{
  pointer-events:none;
  position: absolute;
}

.page {
  position: absolute;
  height: 100%;
  overflow: scroll;
  overflow-y:scroll;
}

.page-enter {
  opacity: 0;
  transform: scale(1.1);
}

// .page-enter-active {
//   opacity: 1;
//   transform: scale(1);
  
// }

.page-enter-done {
  opacity: 1;
  transform: scale(1);
  // transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
  transform: scale(1);
}

.page-exit-done {
  opacity: 0;
  transform: scale(0);
  // transition: opacity 300ms, transform 300ms;
}
