@import "../../style/system.scss";


.headers{
    width:85%;
    position: fixed;
    top: 0;
    left:50%;
    transition: all 0.6s;
    background: white;
    z-index: 20;
    @media screen and (max-width:576px ){
      width: 100%;
    }    
    &__container{
        height: 100%;
        background: white;
        overflow: hidden;
        font-size: 2rem;
        border: none;
        box-shadow: 0 5px 10px rgba(173, 173, 173, 0.274);
        box-sizing: border-box;
        &-bar{
            height: 9vh;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            z-index: 10;
            background: white;

            &-ln{
              display: flex;
                flex-direction: row;
                align-items: center;
                margin-left: 3rem;
                &-ripple{
                  position: relative;
                  //隐藏溢出的径向渐变背景
                  &:after{
                    content: "";
                    display: block;
                    position: absolute;
                    width: 5vh;
                    height: 5vh;
                    top: 0;
                    left: 0;
                    border-radius: 50%;
                    z-index: -1;
                    pointer-events: none;
                    background-image: radial-gradient(circle, rgb(170, 169, 169) 90%, transparent 50%);
                    background-repeat: no-repeat;
                    background-position: 50%;
                    opacity: 0;
                    transition: all 0.3s;
                  }
                  &:hover:after{
                    transform: scale(1.2);
                    opacity: 0.3;
                  }
                }
                &-thum{
                  position: relative;
                  margin: 0 auto;
                  width: 5vh;
                  height: 5vh;
                  cursor: pointer;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  transform: scale(1.1);
                  @media screen and (max-width:576px ){
                    transform: scale(0.8);
                  }
                }
                &-img{
                    margin-left: 2rem;                
                  }
                &-name{
                  width:11rem;
                  height:5rem;
                }
                @media screen and (max-width:600px ){
                    margin-left: 1rem;
                    &-img{
                        margin-left: 1rem;         
                      }
                    &-logo{
                        height: 2.5rem;
                        width: 2.5rem;
                    }
                    &-name{
                      width:6rem;
                      height:3rem;
                    }
                }
            }
            &-nav{
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-right: 6rem;
                &-list{
                    display: flex;
                    flex-direction: row;
                    font-weight: 300;
                    @media screen and (max-width:600px ){
                        margin-left: 1.5rem;
                    }
                    &-item{
                        width: 100px;
                        height: 50px;
                        border: none;
                        border-radius: 0;
                        margin-right: 60px;
                        font-weight: 300;
                        font-size: 1.8rem;
                    }
                    @media screen and (max-width:600px ){
                        &-item{
                            width: 70px;
                            height: 40px;
                            border: none;
                            border-radius: 0;
                            margin-right: 30px;
                            font-weight: 300;
                            font-size: 1.3rem;
                        }
                    }
                }
                &-img{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    height:4rem;
                    width:4rem;
                    background: #ffffff00;
                    cursor: pointer;
                    &:hover{
                        box-shadow: 0 0 20px #8f8f8f;
                    }
                    &-search{
                      height:2rem;
                      width:2rem;
                    }
                }
            }
        }
        &-extend{
          z-index: 5;
          overflow: hidden;
          box-shadow: 0 5px 10px rgba(173, 173, 173, 0.274);
          height: 600px;
          transform: translateY(-600px);
          position: absolute;
          top:-100px;
          width: 100%;
          background: white;
          overflow: hidden;
        }
    }
}





