@import "../../../style/system.scss";

.user{
  position: relative;
  z-index: 100;
  height: 100%;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  &__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height:30%;
    &-profile{
      position: relative;
      height: 9rem;
      width: 9rem;
      border-radius: 50%;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      @media screen and (max-width:600px ){
        height: 9rem;
        width: 9rem;
      }
      img{
        position: absolute;
        width:100%;
        height:100%;
        z-index: 10;
        border-radius: 50%;
        @media screen and (max-width:450px ){
          width:70%;
          height:70%;
        }
      }
      &-circle{
        position: absolute;
        height: 150%;
        width: 150%;
        z-index: 20;
        @media screen and (max-width:450px ){
          width:100%;
          height:100%;
        }
        svg circle{
          fill: transparent;
          stroke-width: 5;
          stroke:white;
          stroke-dasharray: 15, 10, 5;
          stroke-dashoffset: 0;
          animation: sun 10s ease-in-out infinite;
        }
      }
    }
    &-name{
      font-size:4rem;
      letter-spacing: 1.5px;
      position: relative;
      color: $primary-color-other;
      font-family: 'Nanum Gothic';
      font-weight: 600;
      @media screen and (max-width:450px ){
        font-size: 2rem;
      }
    }
    &-summary{
      font-size: 1.4rem;
      font-weight: 300;
      width: 80%;
      position: relative;
      letter-spacing: 1.5px;
      text-align: center;
      color: #999898;
      text-shadow: 0 3px 20px #ffffff;
    }
    &-link{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 40%;
      position: relative;
      @media screen and (max-width:600px ){
        width: 80%;
      }
      &-item{
        width:38px;
        height:38px;
        display: inline-block;
        position: relative;
        border: 1px $primary-color solid;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 50%;
        overflow: hidden;
        transition: all 0.3s cubic-bezier(0.37, 0.16, 0.12, 1);
        svg{
          // position: absolute;
          width: 14px;
          height: 14px;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          @media screen and (max-width:600px ){
            width: 10px;
          height: 10px;
          }
        }
        &:hover{
          background: $primary-color;
          svg {
            fill:white;
          }
        }
        a{
          width: 100%;
          height: 100%;
          color:transparent;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        img{
          height:100%;
          width:100%;
        }
        
      }
    }
  }
}

@keyframes sun {
  0% {
    stroke-dasharray: 15, 10, 5;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 10, 5, 15;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 15, 10, 5;
    stroke-dashoffset: -120px;
  }
}

@media screen and (max-width:600px ){
  @keyframes sun {
    0% {
      stroke-dasharray: 15, 10, 5;
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dasharray: 15, 10, 5;
      stroke-dashoffset: 360px;
    }
  }
}