@import "../../../../style/system";
.highlight {
  padding: .4rem;
  padding-top: .1rem;
  padding-bottom: .1rem;
  border-radius: 5px;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  font-size: 1rem;
  vertical-align: middle;
  word-wrap: break-word;
}