.acTabbar {
  position: sticky;
  top: 10rem;
  margin-top: 8rem;
  overflow: hidden;
  width: 100%;
  .acTabbar__main {
    width: 80%;
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2.5;
    margin: auto;
    position: relative;
    &-text {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      &-hl {
        color: orange;
      }
    }
    strong {
      font-weight: 300;
    }
  }
}
